<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="margin-left: 35px !important;">Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="addUser" class="example-form">

      <mat-card-content>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="username" id="username" [required]="true" placeholder="Username">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="email" id="email" [required]="true" placeholder="Email">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" id="password" [required]="true" placeholder="Password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

      </mat-card-content>

      <button mat-stroked-button color="primary" class="btn-block" style="margin-left: 50px !important;" (click)="createUser()">Register</button>

    </form>
  </mat-card>
</div>
